@import "bootstrap/variables";

.main {

}

.sensor-tile-wrapper {
  a {
    &.option {
      color: #FFF;
      padding: 0px 3px;
      &:hover {
        color: $light_gray;
      }
    }
  }
}

.list-group-item {
  .form-control {
    &.strict-inline { 
      margin-top: -5px;
      max-width: 100px;
      display: inline-block !important;
    }
  }
}

.flash-messages {
  display: none;
  width: 100%;
  .flash {
    padding: 6px;
  }
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}