@import "bootstrap/variables";

.main {

}

.flash-messages {
  display: none;
  width: 100%;
  .flash {
    padding: 6px;
  }
}

.sensor-tile-wrapper {
  padding: 6px;
  .sensor-tile {
    border: 1px solid $dimmed_white;
    padding: 6px;
    .title {
      font-weight: bold;
    }
  }
}